/**************Fonts**************/

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("../fonts/Roboto-Regular.ttf");
}

/**************Global**************/

* {
  box-sizing: border-box;
}

.page-body {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: rgb(182, 170, 170);
}

.container {
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

/**************Content**************/

.content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 350px 650px;
  column-gap: 20px;
}

.puzzle-wrapper {
  height: 350px;
  border-radius: 20px;
  background-color: #F0F8CC;
  box-shadow: 0px 3px 20px #0000001A;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

.puzzle-item {
  background: url(../img/puzzle-item.svg) no-repeat center;
  background-size: 35px 35px;
}

.puzzle-item:first-child {
  background: none;
}

.puzzle-pink {
  background-color: #E63782;
}

.puzzle-blue {
  background-color: #22A4DC;
}

.puzzle-yellow {
  background-color: #F7AB29;
}

.puzzle-green {
  background-color: #AAC72E;
}

.main-select {
  width: 100%;
  padding: 10px;
  position: relative;
  color: #313643;
  background-color: #E6ECF5;
  border: 2px solid #E6ECF5;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
}

.main-select__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.main-select__wrapper::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  right: 11px;
  top: 13px;
  background-image: url(../img/down_ico.svg);
  opacity: 0.6;
}

.name-rus__inner,
.name-en__inner {
  margin-top: 10px;
  display: flex;
}

.name-label {
  width: 38px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  color: #313643;
  background-color: #E6ECF5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-input {
  width: 100%;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  color: #888EA7;
  border: 2px solid #E6ECF5;
}

.name-input::-webkit-input-placeholder,
.name-input::placeholder,
.name-input::-moz-placeholder {
  color: #fff;
}