/**************Fonts**************/

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("../fonts/Roboto-Regular.ttf");
}

/**************Global**************/

* {
  box-sizing: border-box;
}

.page-body {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  color: #313643;
  background-color: #F6F7FB;
}

.container {
  background-color: #fff;
  width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

/**************Content**************/

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 350px 650px;
  column-gap: 20px;
}

.puzzle-wrapper {
  height: 350px;
  border-radius: 20px;
  background-color: #F0F8CC;
  box-shadow: 0px 3px 20px #0000001A;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

.puzzle-item {
  background: url(../img/puzzle-item.svg) no-repeat center;
  background-size: 35px 35px;
}

.puzzle-item:first-child {
  background: none;
}

.puzzle-pink {
  background-color: #E63782;
}

.puzzle-blue {
  background-color: #22A4DC;
}

.puzzle-yellow {
  background-color: #F7AB29;
}

.puzzle-green {
  background-color: #AAC72E;
}

.main-select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  position: relative;
  background-color: #E6ECF5;
  border: 2px solid #E6ECF5;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  display: flex;
  align-items: center;
}

.main-select__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.main-select__wrapper::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  right: 11px;
  top: 13px;
  background-image: url(../img/down_ico.svg);
  opacity: 0.6;
}

.name {
  margin-bottom: 10px;
}

.name-rus__inner,
.name-en__inner {
  margin-top: 10px;
  display: flex;
}

.name-label {
  width: 38px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: #E6ECF5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-input {
  width: 100%;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  color: #888EA7;
  border: 2px solid #E6ECF5;
}

.name-input::-webkit-input-placeholder,
.name-input::placeholder,
.name-input::-moz-placeholder {
  color: #888EA7;
  opacity: 0.6;
}

.input-file__inner {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.input-img {
  display: none;
}

.input-link {
  color: #22A4DC;
  font-style: italic;
}

.input-img-label {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url(../img/picture_icon.svg) no-repeat center;
  background-size: 21px 21px;
  background-color: #E6ECF5;
  cursor: pointer;
}

.input-img-label__v2 {
  position: relative;
}

.input-img-label__v2::after {
  padding: 10px 30px;
  content: "Загрузить";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #E6ECF5;
  border-radius: 5px;
  cursor: pointer;
}

.input-img__description {
  margin: 50px 0 0 0;
  color: #888EA7;
  opacity: 0.6;
}

.label-img-text {
  margin: 10px 30px;
}

.puzzle-description__inner {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.horizontal,
.vertical {
  padding-left: 10px;
  background-color: #E6ECF5;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.horizontal {
  border-radius: 5px 0 0 5px;
}

.vertical {
  border-radius: 0 5px 5px 0;
}

.amount-puzzle {
  margin-left: 20px;
}

.question-one,
.question-two {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-one-text,
.question-two-text {
  width: 130px;
  margin: 0 20px 0 0;
}

.question-one-select__wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.question-one-select__wrapper::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  right: 11px;
  top: 13px;
  background-image: url(../img/down_ico.svg);
}

.question-one-select {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #E6ECF5;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
}

.question-one-select-item {
  background-color: #E6ECF5;
}

.question-two-input {
  height: 100%;
  padding-left: 10px;
  color: #888EA7;
  border: 2px solid #E6ECF5;
  border-radius: 5px;
  flex-grow: 1;
}

.question-two-input::-webkit-input-placeholder,
.question-two-input::placeholder,
.question-two-input::-moz-placeholder {
  color: #888EA7;
  opacity: 0.6;
}

.question-three-answer {
  height: 40px;
  margin-top: 5px;
  padding: 0 10px;
  background-color: #E6ECF5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-three-answer span {
  color: #313643;
  opacity: 0.6;
}