/**************Fonts**************/

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("../fonts/Roboto-Regular.ttf");
}

/**************Global**************/

* {
  box-sizing: border-box;
}

.page-body {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: rgb(182, 170, 170);
}

.container {
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

/**************Content**************/

.content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 350px 650px;
  column-gap: 20px;
}

.puzzle-wrapper {
  height: 350px;
  border-radius: 20px;
  background-color: #F0F8CC;
  box-shadow: 0px 3px 20px #0000001A;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

.puzzle-item {
  background: url(../img/puzzle-item.svg) no-repeat center;
  background-size: 35px 35px;
}

.puzzle-item:first-child {
  background: none;
}

.puzzle-pink {
  background-color: #E63782;
}

.puzzle-blue {
  background-color: #22A4DC;
}

.puzzle-yellow {
  background-color: #F7AB29;
}

.puzzle-green {
  background-color: #AAC72E;
}